<div id="particles-js"></div>
<div class="container-fluid d-flex justify-content-center h-100">
  <div class="row w-100 my-auto">
    <div class="col-sm-12 col-lg-6 offset-lg-3 text-center">
      <h1 class="display-2 glitch" data-text="Big Eye">Big Eye</h1>
      <div class="lead mb-3 text-mono text-success">AN ISEP CTF..<span class="vim-caret">.</span></div>

      <div class="card text-center bg-dark text-white">
        <div class="card-header text-mono">
          OOPS, PAGE NOT FOUND
        </div>
        <div class="card-body">
          <h1>Oh oh! It seems that you have arrived on a non-existent page!</h1>
          <h3><a routerLink="/">Return to the home page</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
