<div id="particles-js"></div>
<div class="container-fluid d-flex justify-content-center h-100">
  <div class="row w-100 my-auto">
    <div class="col-sm-12 col-lg-6 offset-lg-3 text-center">
      <h1 class="display-2 glitch" data-text="Big Eye">Big Eye</h1>
      <div class="lead mb-3 text-mono text-success">AN ISEP CTF..<span class="vim-caret">.</span></div>

      <div class="card text-center bg-dark text-white">
        <div class="card-body text-mono">
          <pre class="text-mono text-white">Hello and welcome to the ISEP CTF called Big Eyes.
This CTF aims to host the challenges realized by the students of the
module "Software Security".
You are strongly invited to register and try the different challenges
that are available to you.
Good luck !

&gt; Astropilot</pre>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 offset-lg-3 text-center">
      <div class="card text-center bg-dark text-white">
        <div class="card-body text-mono">
          <h4>Already a member?</h4>
          <h4><a class="text-success" routerLink="/login">Sign-In here!</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3 text-center">
      <div class="card text-center bg-dark text-white">
        <div class="card-body text-mono">
          <h4>Not a member?</h4>
          <h4><a class="text-success" routerLink="/register">Sign-Up here!</a></h4>
        </div>
      </div>
    </div>

  </div>
</div>
